name: Debricked scan

on: [push]

jobs:
  vulnerabilities-scan-production:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: |
          mvn --version
      - uses: debricked/actions/callgraph@v4
      - name: production scan
        if: success() || failure()
        uses: debricked/actions@v4
        env:
          DEBRICKED_TOKEN: ${{ secrets.DEBRICKED_TOKEN }}
      - name: staging scan
        if: success() || failure()
        uses: debricked/actions@v3
        env:
          DEBRICKED_TOKEN: ${{ secrets.DEBRICKED_TOKEN_STAGING }}
          DEBRICKED_URI: 'https://staging.debricked.com'
      - name: review app scan
        if: success() || failure()
        uses: debricked/actions@v3
        env:
          DEBRICKED_TOKEN: ${{ secrets.DEBRICKED_TOKEN_REVIEW }}
          DEBRICKED_URI: 'https://review-6831-reach-qc4gm9.review.debricked.dev'
